.grad{background-image: linear-gradient(rgba(45, 139, 185, 0.706), #2E3840);}
.grade{background-image: linear-gradient(to right,rgba(45, 139, 185, 0.706), #2E3840);}
.bgi{
    background-image:url("D:\Work-Management-Web-App\client\src\pages\Register\mike-tinnion-3ym6i13Y9LU-unsplash.jpg");
}